:root {
    --base-color: #16748F;
    --accent-color: #E6381D;
    --dark-grey: #3b494d;
    --light-grey: #e4f2f6;
    --content-width: 90%;
    --headline-font: Helvetica, Calibri, Arial, Sans-Serif;
    --text-font: Helvetica, Calibri, Arial, Sans-Serif;
    --profile-width: 120px;
    --profile-height: 160px;
    --shadow: 0 0 20px 0px rgba(2, 2, 2, .5);
    --page-margin: 50px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--light-grey);
    font-family: var(--text-font);
    font-size: 1.1rem;
}

.page {
    margin: var(--page-margin) auto;
    padding: 0;
    width: var(--content-width);
    box-shadow: var(--shadow);
}

.header {
    width: 100%;
    min-height: 120px;
    margin: 50px auto 0;
    background: var(--base-color);
    padding: 50px 0 100px 0;
    position: relative;
    border-bottom: 5px solid var(--dark-grey);
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 100px 0 40px 0;
    background: white;
    border-top: 5px solid var(--dark-grey);
    border-bottom: 5px solid var(--base-color);
}

.footer {
    width: 100%;
    margin: 0 auto;
    background: var(--dark-grey);
    color: var(--light-grey);
    padding: 1% 0;
    border-top: 5px solid var(--base-color);
}

.profile {
    width: var(--profile-width);
    height: var(--profile-height);
    margin: calc(var(--profile-height) * -1 / 2) auto calc(var(--profile-height) * -1 / 2);
    background: url(../img/portrait.jpg) no-repeat;
    background-size: var(--profile-width) var(--profile-height);
    position: relative;
    box-shadow: var(--shadow);
}

.header:hover h1 {
    color: var(--accent-color);
}

.footer:hover .footer-text {
    color: var(--accent-color);
}

h1 {
    text-align: center;
    color: white;
    font-family: var(--headline-font);
    font-size: 3rem;
    margin: 0;
}

h2 {
    text-align: center;
    color: var(--light-grey);
    font-family: var(--headline-font);
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

h3 {
    text-align: right;
    color: var(--accent-color);
    font-family: var(--headline-font);
    font-size: 1.5rem;
    padding: 0;
    margin: 0 20px 0 0;
}

.content-left {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}

.content-right {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}

.box {
    width: 94%;
    margin-left: 2%;
    background: white;
    margin-bottom: 50px;
    padding: 20px 1% 30px;
    display: inline-block;
    box-shadow: var(--shadow);
}

.box-list {
    list-style-type: none;
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0;
}

.box-list li {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: 1px dotted var(--light-grey);
}

.box-list li:last-child {
    border-bottom: 1px dotted var(--light-grey);
}

.box-list li:hover {
    background: var(--light-grey);
}

.box-left {
    width: 24%;
    float: left;
    margin: 0 2%;
    padding: 0;
}

.box-right {
    width: 68%;
    float: right;
    margin: 0 2%;
    padding: 0;
}

.box-full {
    width: 96%;
    float: left;
    margin: 0 2%;
    padding: 0;
}

.box-right:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.footer-text {
    margin: 0 1%;
    text-align: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.highlight:after {
    position: fixed;
    content: '\02764';
    color: var(--accent-color);
    font-size: 1rem;
    bottom: 6px;
    right: 5px;
    visibility: visible;
}

a:hover {
    color: var(--accent-color);
}

a {
    color: black;
    text-decoration: underline;
}

@media (max-width: 820px) {

    .page {
        width: 100%;
        margin: 0 auto;
    }

    .header {
        margin: 0 auto;
    }

    .content-left {
        width: 100%;
    }

    .content-right {
        width: 100%;
    }

    .highlight {
        display: none;
    }
}