html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Calibri, Arial, sans-serif;
}

body {
    background: url('../img/page_background.jpg') no-repeat fixed 50% 50%;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 3rem;
    margin: 0;
}

h2 {
    text-align: center;
    color: lightgrey;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

h3 {
    text-align: right;
    color: #555;
    font-size: 1.5rem;
    padding: 0;
    margin: 0 20px 0 0;
}

.page {
    margin: 10px auto;
    width: 90%;
}

.header {
    width: 100%;
    min-height: 120px;
    margin: 50px auto 0;
    padding: 50px 0 100px 0;
    position: relative;
    background: rgba(100, 100, 100, .7);
    border-radius: 15px 15px 0 0;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 100px 0 40px 0;
    background: rgba(200, 200, 200, .7);
    border-top: 5px solid rgba(22, 116, 143, .7);
    border-bottom: 5px solid rgba(22, 116, 143, .7);
}

.footer {
    width: 100%;
    margin: 0 auto;
    background: rgba(100, 100, 100, .7);
    color: #e4f2f6;
    padding: 1% 0;
    border-radius: 0 0 15px 15px;

}

.profile {
    width: 120px;
    height: 160px;
    margin: -80px auto -80px;
    background: url(../img/portrait.jpg) no-repeat;
    background-size: 120px 160px;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(80, 80, 80, .7);
}

.content-left {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}

.content-right {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}

.box {
    width: 94%;
    margin-left: 2%;
    background: whitesmoke;
    margin-bottom: 50px;
    padding: 20px 1% 30px;
    display: inline-block;
    box-shadow: 0 0 20px 0 rgba(80, 80, 80, .7);
    border-radius: 3px;
}

.box-list {
    list-style-type: none;
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0;
}

.box-list li {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: 1px dotted #ccc;
}

.box-list li:last-child {
    border-bottom: 1px dotted #ccc;
}

.box-list li:hover {
    background: rgba(22, 116, 143, .3);
}

.box-left {
    width: 24%;
    float: left;
    margin: 0 2%;
    padding: 0;
}

.box-right {
    width: 68%;
    float: right;
    margin: 0 2%;
    padding: 0;
}

.box-full {
    width: 96%;
    float: left;
    margin: 0 2%;
    padding: 0;
}

.box-right:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.footer-text {
    margin: 0 1%;
    text-align: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

a:hover {
    color: rgb(33, 86, 93);
}

a {
    color: black;
    text-decoration: underline;
}

@media (max-width: 820px) {

    .page {
        width: 100%;
        margin: 0 auto;
    }

    .header {
        margin: 0 auto;
        border-radius: 0;
    }

    .footer {
        border-radius: 0;
    }

    .content-left {
        width: 100%;
    }

    .content-right {
        width: 100%;
    }



}