html {
    font-family: Calibri, sans-serif;
    font-size: 100%;
}

/* bigger text on bigger screens */
@media (min-width: 120rem) {
    html {
        font-size: 120%;
    }
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: url("../images/tobias_droth.png") no-repeat right, linear-gradient(to right, #8b8b8b, #ccc);
    background-size: contain;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

main {
    max-width: 40rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5;
}

section {
    margin-bottom: 3rem;
}

p {
    margin: 0;
}

header table {
    margin-left: 35%;
    font-size: 1.2rem;
}

td:first-of-type {
    color: white;
    padding-right: 1em;
}

h1 {
    font-size: 2.5rem;
    font-family: "Century Gothic", sans-serif;
    font-weight: normal;
    background: #17375e;
    display: inline-block;
    color: white;
    padding: 0.2rem 0.8rem 0.2rem 35%;
}

h2 {
    font-size: 2rem;
    font-family: "Century Gothic", sans-serif;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-top: 2rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
}

/* move header information and headline to the left on narrow screen */
@media(max-width: 55rem) {
    header table {
        margin-left: 1rem;
    }
    h1 {
        padding-left: 3rem;
    }
}

/* remove image on narrow screen */
@media(max-width: 35rem) {
    header {
        background: linear-gradient(to right, #8b8b8b, #ccc);
    }
}

main ul {
    margin-top: 0.5rem;
    list-style: square;
}

main li {
    margin-left: 1rem;
}

main li span:first-of-type {
    margin-left: 1rem;
    display: inline-block;
    vertical-align: text-top;
}

main ul.two-cols li span:first-of-type {
    width: 8rem;
    color: #616161;
}

main ul.two-cols li span:last-of-type {
    display: inline-block;
    margin-left: 2rem;
    max-width: 50rem;
}

h3 span {
    display: block;
    font-size: 0.8rem;
    color: #616161;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* skip link */
[href="#main"] {
    position: absolute;
    top: 0;
    right: 100%;
}

[href="#main"]:focus {
    right: auto;
}

/* better link underline */
.underline, section a {
    text-decoration: none;
    text-shadow: 0.05em 0 0 #fff, -0.05em 0 0 #fff,
    0 0.05em 0 #fff, 0 -0.05em 0 #fff,
    0.1em 0 0 #fff, -0.1em 0 0 #fff,
    0 0.1em 0 #fff, 0 -0.1em 0 #fff;
    background: linear-gradient(to right, currentColor 0%, currentColor 100%) repeat-x bottom 0.2em center;
    background-size: 100% 0.05em;
}

/* visible focus link background */
main a:focus {
    outline: none;
    background-color: #cef;
    text-shadow: 0.05em 0 0 #cef, -0.05em 0 0 #cef,
    0 0.05em 0 #cef, 0 -0.05em 0 #cef,
    0.1em 0 0 #cef, -0.1em 0 0 #cef,
    0 0.1em 0 #cef, 0 -0.1em 0 #cef;
}