html {
    font-family: Calibri, sans-serif;
    font-size: 100% !important;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: #222;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: url("../images/tobias_droth.png") no-repeat right, linear-gradient(to right, #8b8b8b, #ccc);
    background-size: contain;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

header ul {
    list-style-type: none;
    margin-left: 30%;
}

h1 {
    font-size: 2.5rem;
    font-family: "Century Gothic", sans-serif;
    font-weight: normal;
    background: #17375e;
    display: inline-block;
    color: white;
    padding: 0.2rem 0.8rem 0.2rem 33%;
}

@media(max-width: 55rem) {
    header ul {
        margin-left: 10%;
    }
    h1 {
        padding-left: 20%;
    }
}

header span {
    font-size: 1.2rem;
}

header span.left {
    color: white;
    width: 6rem;
}

@media(max-width: 43rem) {
    header {
        background: linear-gradient(to right, #8b8b8b, #ccc);
    }
}

main {
    max-width: 40rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5;
}

footer {
    font-size: 0.8rem;
    margin: 1rem;
}

section {
    margin-bottom: 3rem;
}

span.left {
    display: inline-block;
    width: 8rem;
    margin-left: 1rem;
    color: #616161;
    vertical-align: text-top;
}

span.right {
    display: inline-block;
    margin-left: 2rem;
    max-width: 50rem;
    vertical-align: text-top;
}

span.single {
    margin-left: 1rem;
    display: inline-block;
    vertical-align: text-top;
}

h2 {
    font-size: 2rem;
    font-family: "Century Gothic", sans-serif;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-top: 2rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
}

h3 span {
    display: block;
    font-size: 0.8rem;
    color: #616161;
}

ul {
    margin-top: 0.5rem;
    list-style: square;
}

li {
    margin-bottom: 0.3rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.divider {
    width: 100%;
    height: 0.1rem;
    background: #d9d9d9;
}

/* skip link */
[href="#main"] {
    position: absolute;
    top: 0;
    right: 100%;
}

[href="#main"]:focus {
    right: auto;
}

/* automatic icons */
[href^="http"]:not([href*="droth.net"])::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url('../images/external-icon.svg') no-repeat bottom;
    background-size: 75% auto;
    content: '(externer link)';
    overflow: hidden;
    white-space: nowrap;
    text-indent: 1rem; /* the width of the icon */
}


/* bigger text on bigger screens */
@media (min-width: 120rem) {
    html {
        font-size: 150%;
    }
}

/* better link underline */
.underline, section a {
    text-decoration: none;
    text-shadow: 0.05em 0 0 #fff, -0.05em 0 0 #fff,
    0 0.05em 0 #fff, 0 -0.05em 0 #fff,
    0.1em 0 0 #fff, -0.1em 0 0 #fff,
    0 0.1em 0 #fff, 0 -0.1em 0 #fff;
    background: linear-gradient(to right, currentColor 0%, currentColor 100%) repeat-x bottom 0.2em center;
    background-size: 100% 0.05em;
}

section a:focus {
    outline: none;
    background-color: #cef;
    text-shadow: 0.05em 0 0 #cef, -0.05em 0 0 #cef,
    0 0.05em 0 #cef, 0 -0.05em 0 #cef,
    0.1em 0 0 #cef, -0.1em 0 0 #cef,
    0 0.1em 0 #cef, 0 -0.1em 0 #cef;
}